* {
  box-sizing: border-box;
}
#root {
  max-width: 100%;
  margin: 0;
}
.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  scroll-margin-top: 100px;
  padding-top: 100px;
}

.Title {
  color: #23928f;
  text-transform: uppercase;
  font-weight: 700;
}
.DESC {
  font-size: 20px;
}
.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: rgba(38, 124, 174, 0.8) 0px 4px 12px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}

.LOGO {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

/* .LogoCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff00dd;
  box-shadow: 0 0 10px #ff00dd, 0 0 20px #ff00dd, 0 0 30px #ff00dd;
  animation: pulseNeon 1.5s infinite alternate;
} */
.LOGO p {
  color: rgba(38, 124, 174, 0.8);
  margin: 0;
}
.Navigation {
  width: 100%;
}

.NavList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  margin: 0;
}

.nav-list-item {
  display: block;
  text-decoration: none;
  color: rgba(38, 124, 174, 0.8);
  text-transform: uppercase;
  transition: 0.5s ease;
  font-weight: 600;
  border: none;
  background-color: transparent;
}

.nav-list-item:hover {
  transform: scale(1.2);
  border-bottom: 3px solid white;
}

.HamburgerContainer {
  position: fixed;
  display: none;
  top: 70px;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: rgb(38, 124, 174);

  transition: right 0.5s ease;
}
.HamburgerContainer.active {
  right: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
  transition: 0.5s ease;
  color: rgba(38, 124, 174, 0.8);
}

.hamburger {
  transform: scale(1.5);
}

.hamburgerList {
  padding-top: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hamburger-nav-list-item {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s ease;
  border: none;
  background-color: transparent;
}

.hamburger-nav-list-item:hover {
  border-bottom: 3px solid white;
}

.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #23928f;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease;
  z-index: 100;
  border-radius: 50%;
  border: none;
}

.scrollToTop.show {
  opacity: 1;
  pointer-events: auto;
}

.scrollToTop:hover {
  transform: scale(1.1);
}
.scrollIcon {
  color: white;
  background-color: transparent;
}

/* ====== BANNER (HOME) ====== */

.BANNER {
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}

.BannerImage {
  object-fit: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: auto;
  background-position: top;
}
.TITLE {
  color: #1c7471;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 700;
}
.description {
  color: black;
}

.learnMoreBtn {
  border-radius: 50px;
  border: none;
  background-color: #23928f;
  padding: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 5px 0 #1c7471;
  transition: all 0.1s ease-in-out;
}

.learnMoreBtn:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 #1c7471;
}

/* ====== CONTACT ====== */

.Contact {
  width: 100%;
  background-color: #020b0b;
  height: auto;
}

.contactTitle {
  color: #1c7471;
  font-size: 50px;
}

.contactLink {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: white;
}

.contactDescription {
  margin-bottom: 0;
}

.rowBlur {
  position: relative;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 55px;
  padding: 2rem;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(35, 146, 143, 0.6);
  animation: glowCycle 3s linear infinite;
}
/* ====== FOOTER ====== */
.Footer {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #165c5a;
}

/* ====== KEYFRAMES ====== */

@keyframes pulseNeon {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px #ff00dd, 0 0 10px #ff00dd, 0 0 15px #ff00dd;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 10px #ff00dd, 0 0 20px #ff00dd, 0 0 30px #ff00dd;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 5px #ff00dd, 0 0 10px #ff00dd, 0 0 15px #ff00dd;
  }
}
/* ====== RESPONSIVELY ====== */

@media (max-width: 764px) {
  .NavList {
    display: none;
  }

  .HamburgerContainer {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
