* {
  box-sizing: border-box;
}
#root {
  max-width: 100%;
  margin: 0;
}
.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  scroll-margin-top: 100px;
  padding-top: 100px;
}

.Title {
  background: linear-gradient(90deg, rgb(151, 133, 245), #ff00dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
  text-transform: uppercase;
  font-weight: 700;
}

.quote {
  background: linear-gradient(90deg, rgb(151, 133, 245), #ff00dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.DESC {
  font-size: 20px;
}
.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: rgba(255, 0, 221, 0.6) 0px 4px 12px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(13, 17, 28);
  z-index: 1000;
}

.LOGO {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

/* .LogoCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff00dd;
  box-shadow: 0 0 10px #ff00dd, 0 0 20px #ff00dd, 0 0 30px #ff00dd;
  animation: pulseNeon 1.5s infinite alternate;
} */
.LOGO p {
  color: white;
  margin: 0;
}
.Navigation {
  width: 100%;
}

.NavList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  margin: 0;
}

.nav-list-item {
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.5s ease;
  font-weight: 600;
  border: none;
  background-color: transparent;
}

.nav-list-item:hover {
  transform: scale(1.2);
  border-bottom: 3px solid white;
}

.HamburgerContainer {
  position: fixed;
  display: none;
  top: 70px;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: rgba(12, 15, 25, 2.9);

  transition: right 0.5s ease;
}
.HamburgerContainer.active {
  right: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
  transition: 0.5s ease;
  color: rgb(151, 133, 245);
}

.hamburger {
  transform: scale(1.5);
}

.hamburgerList {
  padding-top: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hamburger-nav-list-item {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s ease;
  border: none;
  background-color: transparent;
}

.hamburger-nav-list-item:hover {
  color: rgb(151, 133, 245);
}

.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #ff00dd;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease;
  z-index: 100;
  border-radius: 50%;
  border: none;
}

.scrollToTop.show {
  opacity: 1;
  pointer-events: auto;
}

.scrollToTop:hover {
  transform: scale(1.1);
}
.scrollIcon {
  color: white;
  background-color: transparent;
}

/* ====== BANNER (HOME) ====== */
#home.section {
  justify-content: center;
  align-items: stretch;
  padding-top: 0;
  scroll-margin-top: 0;
  background: linear-gradient(
    to top,
    rgba(12, 15, 25, 2.9),
    rgba(60, 63, 90, 2.6)
  );
}

.BANNER {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.BannerContainer {
  width: 100%;
}

.BannerImage {
  object-fit: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: auto;
  background-position: top;
}
.TITLE {
  color: #1c7471;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 700;
}
.description {
  color: black;
}

.mainTitle {
  font-size: 2.5rem;
}

/* Gradient text for second line */
.quote {
  display: block;
  background: linear-gradient(90deg, rgb(151, 133, 245), #ff00dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.subTitle {
  color: rgb(151, 133, 245);
}

.mainDesc {
  font-size: 2rem;
  color: #d1d1d1;
  margin: 1.5rem auto 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  border-right: 14px solid #ff00dd;
  width: 0;
  display: inline-block;
  animation: typing 5s steps(80, end) forwards, blink 0.7s step-end infinite;
}
/* Keyframes */
@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.goOnAboutMe {
  display: inline-block;
  border: none;
  padding: 8px 46px;
  border-radius: 25px;
  background-color: #ff00dd;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
  box-sizing: 0 4px 10px rgba(255, 0, 221, 0.3);
}

.goOnAboutMe:hover {
  background-color: #d600b8;
  box-shadow: 0 6px 15px rgba(255, 0, 221, 0.4);
}

.goOnAboutMe:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 #1c7471;
}

/* ====== ABOUT ====== */
.mainPicture {
  width: 400px;
}
.aboutInner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myExpertize {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  background-color: transparent;
}

.myExpertize p {
  display: inline-block;
  animation: scrollTrack 30s linear infinite;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #d600b8;
  font-weight: 700;
}
/* ====== PROJECTS ====== */

.ProjectsContainer {
  display: flex;
  flex-wrap: wrap;
}

.ProjectBody {
  width: 33.33%;
}

/* ====== CONTACT ====== */

.Contact {
  width: 100%;
  background-color: #020b0b;
  height: auto;
}

.contactTitle {
  color: #1c7471;
  font-size: 50px;
}

.contactLink {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: white;
}

.contactDescription {
  margin-bottom: 0;
}

.rowBlur {
  position: relative;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 55px;
  padding: 2rem;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(35, 146, 143, 0.6);
  animation: glowCycle 3s linear infinite;
}

/* ====== PROJECTS ====== */
.ProjectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ProjectBody {
  width: calc(33.33% - 15px);
  padding: 10px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  height: 600px;
}

.ProjectContent {
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s ease;
  height: 100%;
}

.ProjectImage {
  width: 100%;
  overflow: hidden;
  height: 200px;
}

.ProjectImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.ProjectDescription {
  padding: 20px;
}
.stacksTitle h4 {
  font-size: 20px;
}
.stacks {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.stacksContent {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.stackBtn {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #d600b8;
  background-color: transparent;
}

.ProjectContent:hover {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

/* ====== CONTACT ====== */
.Contact {
  background-color: rgb(8, 11, 20);
}
.contactSection {
  background-color: rgb(26, 31, 44);
  padding: 20px;
  border-radius: 25px;
  transition: 0.5s ease;
  cursor: pointer;
}

.contactSection:hover {
  box-shadow: rgba(255, 0, 221, 0.6) 0px 5px 15px;
}
.contactDescription {
  display: flex;
  flex-direction: column;
  color: white;
}

.fontIcon {
  color: rgb(140, 123, 221);
}

.contactIcon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 42, 65);
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
}

.mailLink {
  text-decoration: none;
  color: white;
}

.label {
  color: grey;
}
.contactDescriptionLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.contactMe {
  color: white;
}

.socialLinks {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.socialLinkBtn {
  background-color: rgb(39, 42, 65);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  color: rgb(140, 123, 221);
}

.socialLinkBtn:hover {
  background-color: rgb(140, 123, 221);
  color: white;
}
/* ====== FOOTER ====== */
.Footer {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(20, 25, 37);
}

/* ====== KEYFRAMES ====== */

@keyframes showTitle {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes scrollTrack {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes pulseNeon {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px #ff00dd, 0 0 10px #ff00dd, 0 0 15px #ff00dd;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 10px #ff00dd, 0 0 20px #ff00dd, 0 0 30px #ff00dd;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 5px #ff00dd, 0 0 10px #ff00dd, 0 0 15px #ff00dd;
  }
}
/* ====== RESPONSIVELY ====== */
@media (min-width: 1200px) {
  .BANNER {
    background-size: cover;
  }
}
@media (max-width: 764px) {
  .BANNER {
    height: auto;
    margin-top: 100px;
    padding-block: 20px;
  }

  .DESC {
    padding: 20px;
  }

  .mainTitle {
    font-size: 3rem;
  }
  .mainDesc {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .NavList {
    display: none;
  }

  .HamburgerContainer {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .ProjectBody {
    width: 100%;
  }
  .myExpertize p {
    font-size: 25px;
    letter-spacing: 1px;
  }

  .myExpertize {
    white-space: normal;
    overflow: visible;
    text-align: center;
  }

  .myExpertize p {
    animation: none;
  }
}

@media (min-width: 425px) {
  .DESC {
    width: 100%;
    font-size: 20px;
  }

  .myExpertize {
    width: 100%;
  }
}
